/* pallette https://coolors.co/4f7cac-c0e0de-162521-3c474b-9eefe5 */
@use "structure";

* {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #4f7cac, #c0e0de);
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(60, 71, 75, 0.75);
    @include structure.flexMix(column, space-around, flex-end);
    padding: 10px;
}

.previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.current-operand {
    color: white;
    font-size: 2.5rem;
}
